/* Universal Styles */

html {
  font-size: 18px;
  font-family: helvetica;
  line-height: 1.4;
}

body {
  background-color: azure;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-container {
  display: flex;
  width: 960px;
  border: 1px solid red;
}

.ccontainer {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}

/* banner */

.banner {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 30rem;
  background-image: url("../img/banner-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner .site-container {
  flex-direction: column;
}

/* banner header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
  margin: 1rem 0 10rem 0;
  font-size: 1rem;
  color: white;
}

.header-logo {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

header img {
  height: 1.5rem;
  margin-right: 1rem;
}

header nav {
  margin: 1rem;
}

header nav span {
  margin: 0 1rem;
}

/*  banner text */

.banner-text {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.banner-text span {
  position: absolute;
  right: -2rem;
  background-color: white;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  padding: 1.5rem 5rem;
}

/* Service icons */

.icon.site-container {
  justify-content: center;
}

.icon .ccontainer {
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  width: 5rem;
  margin: 3rem;
}

.narrow img {
  width: 3.5rem;
}

.wide img {
  width: 5rem;
}

.icon span {
  text-align: center;
}

/* description containers */

.description {
  justify-content: center;
  margin-bottom: 5rem;
}

.description .ccontainer {
  width: 35%;
  margin: 0 2.5%;
}

.description span {
  width: 10rem;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: cadetblue;
}

/* footer */

footer {
  padding: 4rem;
}

footer img {
  height: 1.5rem;
  margin-right: 1rem;
}
